*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    position:relative;
    width: 300px;
    min-height: 600px;
    border: 5px solid black;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: center;
}

.header > h1 {
    text-align: center;
    margin: 10px;
}

.header-menu,
.header-menu-additional-tasks {
    max-width:300px;
    overflow: auto;
    white-space: nowrap;
    margin: 5px;
}

.header-menu-additional-tasks {
    display: inline;
}

.header-menu > a,
.header-menu-additional-tasks > a {
    display: inline-block;
    margin: 0;
    padding: 0.5em;
    margin-right: 1em;
    text-decoration: none;
    border-radius: 5px;
}

.header-menu > a:hover,
.header-menu-additional-tasks > a:hover {
    background-color: lightgrey;
}

.active-list {
    background-color: lightgray;
    color:blue;
}

.tasks-field-container {
    margin: 10px 5px;
}
/* line throuth the text if input is checked */
input:checked + label {
    color: grey;
    text-decoration: line-through;
}

/* .o-tasks:hover, */
.o-tasks > label:hover,
.o-tasks > input:hover,
/* .f-tasks:hover, */
.f-tasks > label:hover,
.f-tasks > input:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.bottom-elements {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.add-task {
    display: flex;
    justify-content: center;
    bottom: 0px;
}

.add-task-btn {
    font-size: 1.5em;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 10px lightgrey;
    cursor: pointer;
}

.add-task-btn > i {
    margin: 5px 5px;
}

.bottom-menu {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
}

.bottom-menu > div {
    margin: 5px 10px;
}

.bottom-menu > div > i {
    font-size: 1.5em;
    cursor: pointer;
}

/* pop-up menu elements styling */

/* create new list menu */

.new-list-window {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 2;
}

.new-list-window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-list-window-header > h1 {
    margin: 5px;
}

.new-list-window-header > button {
    font-size: 1.5em;
    border: none;
    background-color: white;
    color: grey;
    margin: 5px;
}

.new-list-window-header > button:hover {
    color: black;
    cursor: pointer;
}

.new-list-window > textarea {
    width: 100%;
    font-size: 2em;
    overflow: hidden;
    resize: none;
}

/* create new task menu */

.new-task-window {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.new-task-window-font {
    width: 100%;
    height: 50%;
    background-color: black;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    opacity: 0.8;
}

.new-task-window-menu {
    position: relative;
    background-color: white;
    height: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.task-window-menu-name > textarea {
    width: 100%;
    height: auto;
    border: none;
    font-size: 2em;
    overflow: hidden;
    resize: none;
}

.task-window-menu-description > textarea {
    width: 100%;
    height: fit-content;
    border: none;
    font-size: 1.5em;
    overflow: hidden;
    resize: none;
}

.task-window-menu-buttons {
    width: 100%;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-window-menu-buttons > button {
    font-size: 2em;
    margin: 5px;
    padding: 5px;
    border: none;
    background-color: white;
    cursor: pointer;
}

/* tasks list menu styling */

.tasks-list-window {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.tasks-list-window-font {
    width: 100%;
    height: 50%;
    background-color: black;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    opacity: 0.8;
}

.tasks-list-window-menu,
.tasks-list-window-menu-additional-tasks {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    overflow: auto;
    white-space: nowrap;
}

.tasks-list-window-menu > a,
.tasks-list-window-menu-additional-tasks > a {
   padding: 10px 10px;
}

.tasks-list-window-menu > .create-new-list {
    position: absolute;
    border-top: 1px solid gray;
    bottom: 0;
    width: 100%;
}


/* current task menu styling */

.this-task-window {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 2;
}

.go-back > i {
    font-size: 2em;
    margin: 10px 10px;
}

.go-back > i:hover {
    color: lightskyblue;
    cursor: pointer;
}

.this-task-name > h1,
.this-task-description > p,
.this-task-status > label,
.this-task-date > i {
    margin: 5px
}

.this-task-date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.this-task-delete {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    display:flex;
    justify-content: center;
}

.this-task-delete > i {
    color: black;
    font-size: 2em;
}

.this-task-delete > i:hover {
    color: red;
    cursor: pointer;
}

/* show class */
.show {
    display: block;
}
