*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.app-container {
    position:relative;
    /* width: 300px; */
    width: 90vw;
    /* min-height: 600px; */
    min-height: 80vh;
    border: 5px solid black;
    border-radius: 10px;
    font-size: 1.3em;
    background-color: white;
    opacity: 0.9;
}

.header {
    display: flex;
    justify-content: center;
}

.header > h1 {
    text-align: center;
    margin: 10px;
}

.header-menu,
.header-menu-additional-tasks {
    max-width:auto;
    overflow: auto;
    white-space: nowrap;
    margin: 5px;
}

.header-menu-additional-tasks {
    display: inline;
}

.header-menu > a,
.header-menu-additional-tasks > a {
    display: inline-block;
    margin: 0;
    padding: 0.5em;
    margin-right: 1em;
    text-decoration: none;
    border-radius: 5px;
}

.header-menu > a:hover,
.header-menu-additional-tasks > a:hover {
    background-color: lightgrey;
}

.active-list {
    background-color: lightgray;
    color:blue;
}

.tasks-field-container {
    margin: 30px 20px;
}
/* line throuth the text if input is checked */
input:checked + label {
    color: grey;
    text-decoration: line-through;
}

.tasks-field-container > h2 {
    margin-bottom: 10px;
}

.o-tasks > label,
.f-tasks > label {
    margin: 5px;
}

.o-tasks > input,
.f-tasks > input {
   transform: scale(1.5);
   margin-right: 5px;
}

/* .o-tasks:hover, */
.o-tasks > label:hover,
.o-tasks > input:hover,
/* .f-tasks:hover, */
.f-tasks > label:hover,
.f-tasks > input:hover {
    background-color: lightgrey;
    cursor: pointer;
    border-radius: 5px;
}

.task-date-alert {
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 3px;
    margin-bottom: 15px;
    padding: 5px;
    width: fit-content;
    font-size: .8em;
    font-weight: bold;
    color: grey;
}

.past {
    color:red;
}

.today {
    color: blue;
}

.bottom-elements {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.add-task {
    display: flex;
    justify-content: center;
    bottom: 0px;
}

.add-task-btn {
    font-size: 1.5em;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 10px lightgrey;
    cursor: pointer;
}

.add-task-btn > i {
    margin: 5px 5px;
}

.bottom-menu {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
}

.bottom-menu > div {
    margin: 5px 10px;
}

.bottom-menu > div > i {
    font-size: 1.5em;
    cursor: pointer;
}

/* pop-up menu elements styling */

/* create new list menu */

.new-list-window {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 2;
}

.new-list-window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-list-window-header > h1 {
    margin: 5px;
}

.new-list-window-header > button {
    font-size: 1.5em;
    border: none;
    background-color: white;
    color: grey;
    margin: 5px;
}

.new-list-window-header > button:hover {
    color: black;
    cursor: pointer;
}

.new-list-window > textarea {
    width: 100%;
    font-size: 2em;
    overflow: hidden;
    resize: none;
}

/* create new task menu */

.new-task-window {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.new-task-window-font {
    width: 100%;
    height: 50%;
    background-color: black;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    opacity: 0.8;
}

.new-task-window-menu {
    position: relative;
    background-color: white;
    height: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.task-window-menu-name > textarea {
    width: 100%;
    height: auto;
    border: none;
    font-size: 2em;
    overflow: hidden;
    resize: none;
}

.task-window-menu-description > textarea {
    width: 100%;
    height: fit-content;
    border: none;
    font-size: 1.5em;
    overflow: hidden;
    resize: none;
}

.task-window-menu-buttons {
    width: 100%;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-window-menu-buttons > button {
    font-size: 2em;
    margin: 5px;
    padding: 5px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.date-in {
    font-size: 1.5em;
    margin: 5px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.date-in:hover {
    border: 1px solid black;
}

/* tasks list menu styling */

.tasks-list-window {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.tasks-list-window-font {
    width: 100%;
    height: 50%;
    background-color: black;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    opacity: 0.8;
}

.tasks-list-window-menu,
.tasks-list-window-menu-additional-tasks {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    overflow: auto;
    white-space: nowrap;
}

.tasks-list-window-menu > a,
.tasks-list-window-menu-additional-tasks > a {
   padding: 10px 10px;
   text-decoration: none;
}

.tasks-list-window-menu > .create-new-list {
    position: absolute;
    border-top: 1px solid gray;
    bottom: 0;
    width: 100%;
}


/* current task menu styling */

.this-task-window {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 2;
}

.go-back > i {
    font-size: 2em;
    margin: 10px 10px;
}

.go-back > i:hover {
    color: lightskyblue;
    cursor: pointer;
}

.this-task-name > h1,
.this-task-description > p,
.this-task-status > label,
.this-task-date {
    padding: 10px;
    margin: 5px;
}

.this-task-status {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
}

.this-task-date {
    border-radius: 5px;
    cursor: pointer;
    /* margin: auto; */
    /* align-content: center;
    text-align: center; */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
}

.this-task-delete {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    display:flex;
    justify-content: center;
}

.this-task-delete > i {
    color: black;
    font-size: 2em;
}

.this-task-delete > i:hover {
    color: red;
    cursor: pointer;
}

/* show class */
.show {
    display: block;
}

/* UI Animations */

.swing-in-bottom-fwd {
	-webkit-animation: swing-in-bottom-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-bottom-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
  
/* ----------------------------------------------
 * Generated by Animista on 2021-10-28 0:13:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-bottom-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes swing-in-bottom-fwd {
    0% {
      -webkit-transform: rotateX(100deg);
              transform: rotateX(100deg);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 1;
    }
  }
  @keyframes swing-in-bottom-fwd {
    0% {
      -webkit-transform: rotateX(100deg);
              transform: rotateX(100deg);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 1;
    }
  }

  .flip-in-hor-bottom {
	-webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-10-28 0:20:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
              transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
              transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }
  

  /* Background */

  .background {
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url('./low-poly-grid-haikei.svg');
  }
  
  
  
